[submodule "plan"]
	path = plan
	url = https://github.com/bravdigital/nosilha-plan.git
[submodule "arkhe-claude-plugins"]
	path = arkhe-claude-plugins
	url = https://github.com/joaquimscosta/arkhe-claude-plugins.git
